version: '3.0'

services:
  main_account_think:
    container_name: main_account_think
    build:
      context: .
    env_file:
      - .env 
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "7070:7070"
    command: >
      sh -c "NODE_ENV=development npx sequelize-cli db:migrate --config config/config.js &&
             npm run start:dev"
    depends_on:
      - postgres
    restart: always

  postgres:
    container_name: postgres_account_think
    image: postgres:14
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASS}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "5432:5432"
    volumes:
      - ./pgdata:/var/lib/postgresql/data
    restart: always